# docker-compose.yml (Updated Version)
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finsight-backend
    volumes:
      - ./backend:/app  # Keep this for live code reloading
      - finsight-uploads:/app/uploads # <-- CHANGE THIS LINE
    ports:
      - "5001:5001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: finsight-frontend
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "3000:3000"
    depends_on:
      - backend
volumes:
  finsight-uploads: # This declares the named volume